.App {
  text-align: center;
  background: linear-gradient(135deg, #497180, #c3cfe2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px;
  transition: transform 0.2s;
}

.App-logo:hover {
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #46b046;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #c51414;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.App-link:hover {
  color: #cd111d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #666;
}

.btn-primary {
  background-color: #e4052e;
  border-color: #de0a29;
  transition: background-color 0.2s, border-color 0.2s;
}

.btn-primary:hover {
  background-color: #e21627;
  border-color: #d40707;
}
